### Java ###
# Package files
*.jar

# Java class files
*.class

### Eclipse project files ##
.classpath
.project
.factorypath
.settings/
logs/

### Gradle ###
.gradle/
build/
bin/

### Maven ###
target/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar